@model ERP.Common.Entities.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-margin">
    @Html.Action("ShowMenu", "Menu")
</div>

<div class="col-md-9">
    @if (@Model != null)
    {
       <p>Hello @Model.UserName !</p>
    }
</div>
