@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
</head>
<body>    
    <div class="container body-content">
        @RenderBody()
        <div class="footer navbar-fixed-bottom center col-md-6">
            <hr />
            <p>&copy; @DateTime.Now.Year - GMS</p>
        </div>
    </div>

    @Styles.Render("~/Content")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</body>
</html>