@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav-side-menu">
    <h2 class="center vertical-center">GMS ERP</h2>
    @*<i class="fa fa-bars fa-2x toogle-btn" data-toggle="collapse" data-target="#menu-content"></i>*@
    <div class="menu-list">

        <ul class="menu-content">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                </a>
            </li>

            <li @*data-toggle="collapse" data-target="#finances" class="collapsed"*@>
                <a href="#">
                    <i class="fa fa-money fa-lg"></i> Financial management @*<span class="arrow"></span>*@
                </a>
            </li>
            @*<ul class="sub-menu collapse" id="finances">*@
                <li>
                    <a href="#"><i class="fa fa-pie-chart fa-lg"></i> Purchasing </a>
                </li>
            @*</ul>*@
            @*<ul class="sub-menu collapse" id="finances">
                <li>New Service 1</li>
                <li>New Service 2</li>
                <li>New Service 3</li>
            </ul>*@

            <li>
                <a href="#"><i class="fa fa-bar-chart fa-lg"></i> Sales </a>
            </li>

            <li >
                <a href="#"><i class="fa fa-envelope fa-lg"></i> Messages </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-calendar fa-lg"></i> Calendar
                </a>
            </li>
            @if (ERP.Areas.Menu.Models.MenuSecurity.IsAdministrator)
            {
            <li>
                <a href="#">
                    <i class="fa fa-users fa-lg"></i> Users
                </a>
            </li>
            }
            <li>
                <a>
                    <i class="glyphicon glyphicon-log-out"></i> @Html.ActionLink("Log out", "LogOut", new { area = "User", controller = "User" }, null)
                </a>
            </li>
        </ul>
    </div>
</div>

    @*<ul class="nav nav-pills nav-justified navbar-margin">
            <li role="presentation" class="active">
                <a href="#">
                    <span class="glyphicon glyphicon-home"></span>
                    <br/>Home
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                    <br/>Finances
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <span class="glyphicon glyphicon-hdd"></span>
                    <br/>Inventory
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <br/>HR
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    <br/>Services
                </a>
            </li>
            <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown" data-role="button"
                   aria-expanded="false" aria-haspopup="true">
                    <span class="glyphicon glyphicon-user"></span>
                    <br />User profile
                </a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">
                        Settings
                    </a>
                    <a href="@Url.Action("LogOut", "Account", new { area = "User" })" class="dropdown-item">
                        Log out
                    </a>
                </div>
            </li>
        </ul>*@
